<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">

</head>
<body>
<!--Using navigation bar-->
<nav class="Blog navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/home">Blog Project</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link " href="/Authors">Authors</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/home">Bootcamp <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/github">GitHub</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    OOP
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/OOP">Python</a>
                    <a class="dropdown-item" href="/OOP">Java</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Contact Us</a>
            </li>

        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>
<!--introduce-->
<div class="container marketing">

    <!-- Two columns of text below the carousel -->
    <div class="row ">
        <div class="col-lg-6">
            <img class="bd-placeholder-img rounded-circle" width="200" height="200"
                 src="https://avatars0.githubusercontent.com/u/46759592?s=460&v=4" focusable="false" role="img">
            <h2>Chau Nguyen</h2>
            <p>Design and Code Web pages using user interface best practices, including accessibility
                and usability using HTML, CSS, JavaScript and other scripting to develop well-designed
                web and mobile web pages using Bootstrap Frameworks.</p>
            <div> Web Developer
                <ul>
                <li>Work closely with senior developer to create an interactive website for a sport association that utilize CSS, HTML, and JavaScript </li>
                <li>Experience in using Bootstrap framework to create responsive web pages </li>
                <li>Write code that adheres to standards and best practices </li>
                <li>Starting in git commands to push and pull from GitHub repository</li>
            </ul>
            </div>
            <div class="container social-network ">
                <ul class="social-circle">
                    <li>  <a href="https://github.com/cnguyen0691" class="GitHub" title="GitHub"><i class="fa fa-github"></i></a>
                          <a href="https://www.linkedin.com/in/chaunguyen0691/" class="Linkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                </ul>
            </div>
        </div><!-- /.col-lg-6 -->
        <div class="col-lg-6">
            <img class="bd-placeholder-img rounded-circle" width="200" height="200"
                 src="https://avatars2.githubusercontent.com/u/38232330?s=460&v=4" focusable="false" role="img">
            <h2>Betelihem Kabtiymer</h2>
            <p>I am a self-taught front-end developer. I primarily focus on website design and development to transform
                a web-page from concept to completion, including post production site maintenance. My expertise include
                organic Search Engine Optimization, Dreamweaver, Photoshop and LiteCommerce</p>
            <div> Website Designs
                <ul>
                    <li>Deliberately selecting the appropriate colors, fonts and layouts to create the exact personality of a website </li>
                    <li>Utilizing appropriate underlying technologies to promote search engine optimization, usability, and website functionality  </li>
                    <li>Introducing brand development projects, Identifying and recording attributes of target customers and tracking content and engagement progress  </li>
                    <li>Measuring and analyzing KPI such as Audience growth, impressions, content reach, leads and quality</li>
                </ul>
            </div>
            <div class="container social-network ">
                <ul class="social-circle">
                    <li> <a href="https://github.com/" class="GitHub" title="GitHub"><i class="fa fa-github"></i></a>
                        <a href="#" class="Linkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                </ul>
        </div>
        </div><!-- /.col-lg-6 -->
    </div><!-- /.row -->








    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
</body>
</html>