<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bootcamp </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<!--Using navigation bar-->
<nav class="Blog navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/home" style="font-family: cursive; color: lightskyblue">Blog</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link " href="/home">Home</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="/Authors">Authors</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/bootcamp">Bootcamp</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    OOP
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/OOP">Python</a>
                    <a class="dropdown-item" href="/OOP">Java</a>
                    <a class="dropdown-item" href="/OOP"> GitHub</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Authors">Contact Us</a>
            </li>

        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>
<!--end nav-->

<!--Introduce BootCamp-->

<div class="introoduce container">
    <hr class="featurette-divider">

    <div class=" row featurette">
        <div class=" col-md-7">
            <h2 class="featurette-heading">Java Web Developer <br> <span class="text-muted">America's Promise</span>
            </h2>
            <p class="lead">The Java Web Developer Boot Camp is an 8 hour a day (9 am - 5 pm, M-F) 8-week, immersive
                software engineering program funded by the Department of Labor. This course aims to increase the number
                of
                skilled software developers in this country. We do this by accepting qualified candidates who cannot
                afford
                the cost of a coding boot camp. If accepted into the program all fees will be covered by the
                program.</p>
            <p><a class="btn btn-secondary"
                  href="https://www.montgomerycollege.edu/workforce-development-continuing-education/information-technology/americas-promise-program/java-web-developer-boot-camp.html"
                  role="button">Join Us &raquo;</a></p>
        </div>
        <div class="col-md-5">
            <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="800"
                 height="800" src="/image/mc.jpg" focusable="false" role="img">
        </div>
    </div>
    <hr class="featurette-divider">
    <div class="container row featurette">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">Mobile Boot Camp <br><span class="text-muted">America's Promise  </span>
            </h2>
            <p class="lead">This boot camp is designed for students that want to make a start of mobile development. it
                is comprised of two modules, iPhone/iPad Development with Swift, and Android Development with Kotlin. By
                the end of the boot camp, the student should be ready to write mobile applications for either of the
                leading mobile platforms: iOS and Android.</p>
            <p><a class="btn btn-secondary"
                  href="https://www.montgomerycollege.edu/workforce-development-continuing-education/information-technology/americas-promise-program/mobile-boot-camp.html"
                  role="button">Join Us &raquo;</a></p>
        </div>
        <div class="col-md-5 order-md-1">
            <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="800"
                 height="800" src="/image/mc1.jpg" focusable="false" role="img">
        </div>
    </div>

    <hr class=" featurette-divider">

    <div class="container row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Data Analytics Boot Camp<br> <span
                    class="text-muted">America's Promise</span>
            </h2>
            <p class="lead">This Data Analytics Bootcamp takes the student from data novice to data expert in this 1
                week course. You will learn and apply basic data analysis tools including data mining and visualization.
                Learn Python, R including its advanced data analysis tools. This bootcamp is designed to help you
                whether you are considering a career in data, work in a context where supervisors are looking to you for
                data insights, or you just have some burning questions you want to explore. No prior experience is
                required. By the end you will have mastered statistical methods to conduct original research to inform
                complex decisions.</p>
            <p><a class="btn btn-secondary"
                  href="https://www.montgomerycollege.edu/workforce-development-continuing-education/information-technology/americas-promise-program/data-analytics-boot-camp.html"
                  role="button">Join Us &raquo;</a></p>
        </div>
        <div class="col-md-5">
            <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="800"
                 height="800" src="/image/mc2.jpg" focusable="false" role="img">
        </div>
    </div>
    <hr class="featurette-divider">
</div>
<!-- /end introduce bootcamp-->

<!--Social-->

 <div class="container social-network ">
        <ul class="social-circle">
          <li>  <a href="https://www.facebook.com" class="Facebook" title="Facebook"><i class="fa fa-facebook"></i></a>
            <a href="https://www.google.com" class="Google" title="Google +"><i class="fa fa-google-plus"></i></a>
            <a href="#" class="Linkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
        </ul>

    </div>
<!--end social-->

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

</body>

</html>