<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
<!--Using navigation bar-->
<nav class="Blog navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/home">Contact Us</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link " href="/Authors">Authors</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/home">Bootcamp <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/github">GitHub</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="/OOP" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    OOP
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/OOP">Python</a>
                    <a class="dropdown-item" href="/OOP">Java</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/contactus">Contact Us</a>
            </li>

        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>

<div class="container homeh2">
   </div>
<div class="container datetime">
</div>
<div class="row ">
    <div class="col-lg-6">
        <h1>Contact Us</h1>
        <h3>Let's Connect, We'd love to hear your feedback!</h3>
<div class="form-group">
    <label for="usr">Name:</label>
    <input type="text" class="form-control" id="usr">
</div>
<div class="form-group">
    <label for="email">E-mail Address:</label>
    <input type="text" class="form-control" id=email>
</div>
        <div class="form-group">
            <label for="comment">Comment:</label>
            <textarea class="form-control" rows="5" id="comment"></textarea>
        </div>
    </div>

    <div class="col-lg-6">
        <br>
        <img class="bd-placeholder-img rounded-circle" width="250" height="250" src="https://res.cloudinary.com/db9bfssj4/image/upload/v1557758135/MontgomeryCollege_ahvj1k.jpg"  focusable="false" role="img">

        <p>Gaithersburg Business Training Center<br>
            12 South Summit Avenue, Room 400<br>
            Gaithersburg, MD 20877<br>
            Monday - Thursday: 8:30 a.m. - 9:00 p.m.<br>
            Friday: 8:30 a.m. - 5:00 p.m.<br>
            Saturday: 8:30 a.m. - 4:00 p.m.<br>
            240-567-5188</p>
    </div>
</div>
</body>
</html>