<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<!--Using navigation bar-->
<nav class="Blog navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/home">Blog Project</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link " href="/Authors">Authors</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/home">Bootcamp <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/github">GitHub</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    OOP
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/OOP">Python</a>
                    <a class="dropdown-item" href="/OOP">Java</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Contact Us</a>
            </li>

        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>
<!--end navbar-->

<!--learn-->
<div class="container">
    <h1>Git Set-up</h1>
    <p>When you set up a new machine, you only need to configure the author once.
        If you run "git config -l" you'll see the existing configurations.
        Run the following if you're doing this for the first time:</p>
    <div class="study" >
        git config --global user.name "yourUsername"<br>
        git config --global user.email yourEmail@domain.com
    </div>

    <h2> Create a repo</h2>
    <p>Note: You can create public repositories for an open source project. When creating your public repository, make
        sure to include a license file that determines how you want your project to be shared with others. For more
        information on open source, specifically how to create and grow an open source project, we've created Open
        Source Guides that will help you foster a healthy open source community by recommending best practices for
        creating and maintaining repositories for your open source project. You can also take a free GitHub Learning Lab
        course on maintaining open source communities.</p>
    <img src="/image/git.jpg" width="500" height="500">
</div>
<div class="container shaded">
    <div class="survey">
        <div class="question">Was it helpful?</div>
        <div class="button group">
            <button class="yes" type="button">Yes</button>
            <button class="no" type="button">No</button>
        </div>
    </div>
    </div>

</div>
</body>
</html>