<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script|Lobster" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
</head>
<body>
<!--Using navigation bar-->
<nav class="Blog navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <a class="navbar-brand" href="/home">Blog</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link " href="/home">Home</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="/Authors">Authors</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/bootcamp">Bootcamp</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    OOP
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/OOP">Python</a>
                    <a class="dropdown-item" href="/OOP">Java</a>

                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/contactus">Contact Us</a>
            </li>

        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>
<!--end nav-->

<!--Content-->
<div class="container home">
    <div class="container homeh2">
       </div>

    <div class="container row">
        <div class=" col-md-5">
            <img src="/image/aboutus_tnmf9h-Sharpened.jpg" alt="Authors" width="300px" height="300px">
        </div>
        <div class="col-md-7">
            <h3><b>About US</b></h3>
            <h5>Software Developer <span class="date">May 10, 2019</span></h5>

            <div class="container">
                <p>
                    At its core, a coding language is a system of variables and rules that govern them – just like
                    English.
                    By putting English words and grammar together, you are able to turn your thoughts into output that
                    other
                    people can understand. So instead of putting the adjective before the noun and
                    saying "The Little Mermaid", you would put the noun before the adjective and say "The Mermaid
                    Little."
                </p>
                <div>
                    <a class="btn btn-outline-success my-2 my-sm-0" href="/Authors">Read More>></a>
                </div>
            </div>
        </div>

    </div>
    <hr>
    <div class="container row">
        <div class=" col-md-5">

            <img src="https://res.cloudinary.com/db9bfssj4/image/upload/v1557755455/mc_xvejfu.jpg" alt="Bootcamp" width="300px" height="300px">

        </div>
        <div class=" col-md-7">
            <h3><b>Boot Camp</b></h3>
            <h5>Java Developer <span class="date">May 10, 2019</span></h5>
            <div class="container">
                <p>
                <ul>
                    <li>1. Tons of resources to learn Java</li>
                    <li>2. Lots of job opportunities</li>
                    <li>3. It’s an Object Oriented Programming Language</li>
                    <li>4. Java is open source</li>
                    <li>5. Java’s Rich API</li>
                    <li>6. Great community support</li>
                    <li>...</li>
                </ul>
                </p>
                <div>
                    <a class="btn btn-outline-success my-2 my-sm-0" href="/bootcamp">Read More>></a>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="container row" style="padding-bottom: 20px">
        <div class=" col-md-5" style="padding: 30px;">
            <img src="/image/langicon_d6bo5f-Square.jpg" alt="OOP" width="300px" height="300px">
        </div>
        <div class=" col-md-7">
            <h3><b>Coding</b></h3>
            <h5><span class="date">May 10, 2019</span></h5>

            <div class="container">
                <p>
                <ul>
                    <li>JavaScript frameworks such as Angular, React, and Vue to build browser-based web applications.
                        Outside of the browser, Node.js lets you write your backend applications in the same language
                        you use to write your client code.
                    </li>
                    <li>
                        Python is both similar and very different from other coding languages. When it comes to getting
                        a job as a Python developer, coding interviews will entail testing a candidate’s understanding
                        of how Python implements common language features, such as data types, modularity, functions,
                        and classes.
                    </li>
                    <li>
                        The JVM makes it possible to run each language on different hardware platforms and devices. Java
                        was also designed to handle many of the tasks related to data types and memory management that
                        made developers’ lives miserable.
                    </li>
                </ul>
                </p>
                <div>

                    <a class="btn btn-outline-success my-2 my-sm-0" href="/OOP">Read More>></a>
                </div>
            </div>

        </div>
    </div>
    <!--end content-->

    <!--JS-->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
</body>
</html>