<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="/css/style.css" rel="stylesheet">
</head>
<body>
<!--Using navigation bar-->
<nav class="Blog navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <a class="navbar-brand" href="/home">Blog</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link " href="/home">Home</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="/Authors">Authors</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/bootcamp">Bootcamp</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    OOP
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/OOP">Python</a>
                    <a class="dropdown-item" href="/OOP">Java</a>
                    <a class="dropdown-item" href="/OOP"> GitHub</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Authors">Contact Us</a>
            </li>

        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>
<!--end nav-->

<!--Python-->
<div class="container" style="padding-top: 100px; text-align: center; font-family: '.SF NS Display'; color: dodgerblue;">
    <h1 style="font-family: 'Al Nile'">Core Java</h1>
    <h2 style="color: mediumpurple; font-family: 'Apple Braille'; font-size: 60px;">Montgomery College</h2>
</div>
<div class="container " style="text-align: left;padding-bottom: 30px;">
    <input size="16" type="text" value="2019-05-10 14:45" readonly class="form_datetime">
</div>
<div class="introoduce container">
    <hr class="featurette-divider">

    <div class=" row featurette">
        <div class=" col-md-7">
            <h2 class="featurette-heading">Object Oriented Programming <br> <span
                    class="text-muted">Python Programming</span>
            </h2>
            <p class="lead">Python (programming language) Python is an interpreted, high-level, general-purpose
                programming language. Created by Guido van Rossum and first released in 1991, Python's design philosophy
                emphasizes code readability with its notable use of significant whitespace.</p>
            <p><a class="btn btn-secondary"
                  href="https://www.python.org/about/gettingstarted/"
                  role="button">More Information &raquo;</a></p>
        </div>
        <div class="col-md-5">
            <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="800"
                 height="800"
                 src="https://d2h0cx97tjks2p.cloudfront.net/blogs/wp-content/uploads/sites/2/2018/02/Python-Applications-1.jpg"
                 focusable="false" role="img">
        </div>
    </div>
</div>



<!--Github-->
<div class="container " style="text-align: left;padding-bottom: 30px;">
</div>
<div class="introoduce container">
    <hr class="featurette-divider">

    <div class=" row featurette">
        <div class=" col-md-7">
            <h2 class="featurette-heading">Github <br> <span
                    class="text-muted">Setting up Github</span>
            </h2>
            <p class="lead">When you set up a new machine, you only need to configure the author once.
                If you run "git config -l" you'll see the existing configurations.
                Run the following if you're doing this for the first time:</p>
            <div class="study" style="padding: 30px; background-color: lightgray; border-radius: 30px;">
                git config --global user.name "yourUsername"<br>
                git config --global user.email yourEmail@domain.com
            </div>
            <p><a class="btn btn-secondary"
                  href="https://github.com/"
                  role="button">More Information &raquo;</a></p>
        </div>
        <div class="col-md-5">
            <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="800"
                 height="800"
                 src="https://res.cloudinary.com/db9bfssj4/image/upload/v1557739605/git-github-workflow-1000w_fwrlhq.png"
                 focusable="false" role="img">
        </div>
    </div>
</div>



<!--Java-->
<div class="container " style="text-align: left;padding-bottom: 30px;">
</div>
<div class="introoduce container">
    <hr class="featurette-divider">

    <div class=" row featurette">
        <div class=" col-md-7">
            <h2 class="featurette-heading">Java <br> <span
                    class="text-muted">Steps to Java Set-up</span>
            </h2>
            <p>Core Java refers to Java SE. It includes the Java Language, the Java Virtual Machine (JVM) and Java
                Development Kit (JDK). The JDK contains the compiler, some tools and a library. The library is called the
                Java API (Application Programming Interface). It consists of classes developed by Oracle/Sun that go with
                Java. Core Java is used for general purpose programming.</p>

            <p>Enterprise Java refers to Java applications written to meet the needs of enterprises. An enterprise is an
                organization rather than an individual user. Such organizations include businesses, schools, interest-based
                user groups, clubs, charities, or governments. Java EE consists of a set of APIs (EJB, JMS, JPA, JTA, JSF
                etc.) and the application servers (Glassfish, Tomcat, JBoss/WildFly etc.) which implement these APIs (or a
                part of them).</p>

            <p><a class="btn btn-secondary"
                  href="https://www.java.com/en/"
                  role="button">More Information &raquo;</a></p>
        </div>
        <div class="col-md-5">
            <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="800"
                 height="800"
                 src="https://res.cloudinary.com/db9bfssj4/image/upload/v1557739716/java-features_elkgzx.png"
                 focusable="false" role="img">
        </div>
    </div>
</div>


<!-- python-->
<div class="introoduce container">
    <hr class="featurette-divider">

    <div class=" row featurette">
        <div class=" col-md-7">
            <h2 class="featurette-heading">Object Oriented Programming <br> <span class="text-muted">Python Programming</span>
            </h2>
            <p class="lead">Python (programming language) Python is an interpreted, high-level, general-purpose
                programming language. Created by Guido van Rossum and first released in 1991, Python's design philosophy
                emphasizes code readability with its notable use of significant whitespace.</p>
            <p><a class="btn btn-secondary"
                  href="https://www.python.org/about/gettingstarted/"
                  role="button">For More Information &raquo;</a></p>
        </div>
        <div class="col-md-5">
            <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="800"
                 height="800" src="https://d2h0cx97tjks2p.cloudfront.net/blogs/wp-content/uploads/sites/2/2018/02/Python-Applications-1.jpg" focusable="false" role="img">
        </div>
    </div>
</div>



</body>
</html>